# FastAPI et dépendances API
fastapi
uvicorn
pytest
prometheus_client

# Bibliothèques Machine Learning et Deep Learning
tensorflow==2.18.0
scikit-learn
librosa
tqdm
matplotlib
seaborn
opencv-python

# Gestion des API et Web
requests
pydantic
python-multipart

# Tests et monitoring
pytest
fastapi[testclient]
httpx
memory_profiler
six==1.16.0
absl-py==2.1.0
clyent==1.2.1
protobuf==3.20.3
numpy<2.0
